openapi: 3.0.3
info:
  title: Stric Platform API
  version: 0.1.0
  description: |
    REST **Pix**: cobranças (QR Cobrança), envio por **chave Pix** (consulta ao titular antes, se quiser), **pagar QR Code**
    (decode do BR Code obrigatório antes do `POST /v1/payouts/qr-code`), Pix recebido via **webhook** (`pix.in.received`),
    extrato, saldo e **webhooks** com eventos `pix.*`.

    ### Como autenticar

    Todas as operações exigem `Authorization: Bearer <api-key>` (Bearer = API key da plataforma).

    ### Payloads monetários

    Quantias sempre como **string em centavos** (ex.: `"1050"` = R$ 10,50).

    ### Escrita segura (`POST`)

    Envie sempre `Idempotency-Key` (8–64 caracteres). Repetição com mesmo método, path e body devolve o mesmo resultado.

    ### Erros

    JSON com `error.code` estável, `error.message` e opcionalmente `error.details`.

    ### Webhooks na documentação

    Tipos aceitos (`pix.in.received`, `pix.charge.paid`, etc.), envelope `{ event, data }`, header `webhook-event-type` e exemplos — guia **Webhooks**.
  contact:
    name: Suporte Stric
    email: suporte@stric.io
  license:
    name: Proprietary
    url: https://stric.io
servers:
  - url: https://stater.stric.io
    description: API pública (`stater`)

tags:
  - name: Account
    description: >-
      Conta resolvida pela API key (`GET /v1/account`, chaves Pix, limites de pagamento). Para uma conta específica por id:
      tarifas (`GET /v1/pix-accounts/{id}/fees`) e política de rate limit (`GET /v1/pix-accounts/{id}/rate-limit`).
      Webhooks por conta permanecem em **Webhooks**.
  - name: Movements
    description: Saldo, extrato e consulta de movimentos.
  - name: Charges
    description: Cobranças Pix — criar, listar, consultar e refresh (receber Pix).
  - name: Consulta de chave Pix
    description: >-
      Resolve titular e dados bancários a partir de uma chave Pix (CPF, CNPJ, e-mail, telefone ou EVP). Opcionalmente gere `dictLookupId` para vincular à transferência Pix.
  - name: Transferências Pix
    description: >-
      Pix para terceiros por **chave Pix**: criar (`POST /v1/payouts`), listar, consultar por id e movimento associado.
      Para pagamento via **BR Code** (copia e cola), use o grupo **Pagar QR Code** abaixo.
  - name: Pagar QR Code
    description: >-
      Pagamento a partir de BR Code: **`POST /v1/qr-code/decode`** (obrigatório) e em seguida **`POST /v1/payouts/qr-code`**.
      Não há fluxo de pagamento por QR sem decodificar antes.

  - name: Webhooks
    description: >-
      Cadastro de URLs HTTPS que recebem `POST` com `{ event, data }`. Header `webhook-event-type` = `event`; guia Webhooks.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'API key da plataforma. Envie no header `Authorization: Bearer <key>`.'
  parameters:
    XPixAccountId:
      name: X-Pix-Account-Id
      in: header
      required: false
      description: >-
        Id da conta Pix sobre a qual a operação atua. Obrigatório quando sua API key não está vinculada a uma conta
        específica.
      schema:
        type: string
        minLength: 10
        maxLength: 40
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >-
        Chave única para deduplicar requests. Repetir a mesma chave (mesmo método, path e body) retorna a resposta
        original — útil para retry seguro. Conflito de body com chave repetida → 409.
      schema:
        type: string
        minLength: 8
        maxLength: 64
  responses:
    ValidationError:
      description: 400 — corpo, query ou parâmetros inválidos. Veja `error.details` pra campos com problema.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: 401 — API key ausente, malformada, expirada ou revogada.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: 403 — você não tem permissão pra essa operação ou pro recurso especificado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: 404 — recurso não encontrado. `error.code` indica qual.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    DomainError:
      description: 422 — operação rejeitada por regra de negócio (saldo insuficiente, estado incompatível, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimitExceeded:
      description: 429 — limite de requests excedido. Tente novamente após `Retry-After` segundos.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Segundos até poder tentar de novo.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: 500 — erro inesperado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: 'Código de erro estável (ex: `VALIDATION_ERROR`, `INSUFFICIENT_BALANCE`).'
            message:
              type: string
              description: Descrição human-readable do erro.
            details:
              type: object
              description: Detalhes contextuais (campos com problema, valores, etc.). Opcional.
              additionalProperties: true
    PaymentLimitWindow:
      type: object
      description: >-
        Consumo na janela corrente (diária ou noturna): intervalo `[windowStart, windowEnd)` e saldos em centavos como string.
      required:
        - windowStart
        - windowEnd
        - consumedCents
        - remainingCents
      properties:
        windowStart:
          type: string
          format: date-time
          description: Início da janela (com offset de fuso, ex. `-03:00`).
        windowEnd:
          type: string
          format: date-time
          description: Fim da janela (com offset de fuso).
        consumedCents:
          type: string
          pattern: ^\d+$
          description: Centavos já consumidos nesta janela.
        remainingCents:
          type: string
          pattern: ^\d+$
          description: Centavos ainda disponíveis nesta janela.
      additionalProperties: false
    AccountLimitsResponse:
      type: object
      description: >-
        Limites configurados (`*Cents`) mais uso na janela diária (`daily`). O campo `night` repete a mesma estrutura de
        `daily` quando o instante da consulta está na **janela noturna** (ex.: a partir das 20h); fora desse período vem `null`.
      required:
        - perTransactionCents
        - dailyCents
        - nightCents
        - daily
        - night
        - spendableNowCents
      properties:
        perTransactionCents:
          type: string
          pattern: ^\d+$
          description: Teto por transação de Pix enviado (centavos como string).
        dailyCents:
          type: string
          pattern: ^\d+$
          description: Limite agregado na janela diária (centavos como string).
        nightCents:
          type: string
          pattern: ^\d+$
          description: Limite agregado na janela noturna (centavos como string).
        daily:
          $ref: '#/components/schemas/PaymentLimitWindow'
        night:
          type: object
          nullable: true
          description: Mesmo formato que `daily` quando aplicável à janela noturna no momento da resposta; caso contrário `null`.
          allOf:
            - $ref: '#/components/schemas/PaymentLimitWindow'
        spendableNowCents:
          type: string
          pattern: ^\d+$
          description: Quanto pode ser enviado agora sem ultrapassar o limite da janela vigente (centavos como string).
      additionalProperties: false
paths:
  /v1/account:
    get:
      tags:
        - Account
      summary: Dados da sua conta
      description: Retorna a conta resolvida pela API key (ou pelo header `X-Pix-Account-Id`).
      operationId: get_v1_account
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  tenantId:
                    type: string
                  coreAccountId:
                    type: string
                  branchIdentifier:
                    type: string
                  accountNumber:
                    type: string
                  label:
                    nullable: true
                    type: string
                  enabled:
                    type: boolean
                  pixInFeeCents:
                    nullable: true
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  pixInFeeBps:
                    nullable: true
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  pixOutFeeCents:
                    nullable: true
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  pixOutFeeBps:
                    nullable: true
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  createdAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  updatedAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                required:
                  - id
                  - tenantId
                  - coreAccountId
                  - branchIdentifier
                  - accountNumber
                  - label
                  - enabled
                  - pixInFeeCents
                  - pixInFeeBps
                  - pixOutFeeCents
                  - pixOutFeeBps
                  - createdAt
                  - updatedAt
                additionalProperties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/account/pix-keys:
    get:
      tags:
        - Account
      summary: Suas chaves Pix
      description: Lista as chaves Pix cadastradas na conta (valor bruto da chave por item).
      operationId: get_v1_account_pix_keys
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          minLength: 1
                          maxLength: 200
                          description: Valor da chave Pix (CPF/CNPJ normalizado, e-mail, telefone ou EVP).
                      required:
                        - key
                      additionalProperties: false
                required:
                  - keys
                additionalProperties: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/account/limits:
    get:
      tags:
        - Account
      summary: Seus limites de pagamento
      description: >-
        Limites por transação (`perTransactionCents`), janela diária (`dailyCents` + objeto `daily`) e janela noturna
        (`nightCents` + objeto `night`). `night` é `null` fora da janela noturna; dentro dela segue o mesmo formato de `daily`.
        `spendableNowCents` indica quanto pode ser enviado no momento.
      operationId: get_v1_account_limits
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/movements/{id}:
    get:
      tags:
        - Movements
      summary: Consulta movimento por id
      description: Retorna o movimento e os lançamentos da sua conta.
      operationId: get_v1_movements_id
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  movementId:
                    type: string
                  movement:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - CREDIT
                          - DEBIT
                          - TRANSFER
                          - ADJUSTMENT
                          - REVERSAL
                      status:
                        type: string
                      source:
                        nullable: true
                        type: string
                        enum:
                          - PIX_IN
                          - PIX_OUT
                          - DEFAULT
                      description:
                        nullable: true
                        type: string
                      externalRef:
                        nullable: true
                        type: string
                      feeAmount:
                        nullable: true
                        type: string
                        pattern: ^-?\d+$
                        format: int64-string
                        description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                      reversesMovementId:
                        nullable: true
                        type: string
                      metadata:
                        type: object
                        additionalProperties: {}
                      createdAt:
                        type: string
                        format: date-time
                        pattern: >-
                          ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                      - type
                      - status
                      - source
                      - description
                      - externalRef
                      - feeAmount
                      - reversesMovementId
                      - metadata
                      - createdAt
                    additionalProperties: {}
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        accountId:
                          type: string
                        amount:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        balanceAfter:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        kind:
                          type: string
                          enum:
                            - PRIMARY
                            - FEE
                        createdAt:
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      required:
                        - id
                        - accountId
                        - amount
                        - balanceAfter
                        - kind
                        - createdAt
                      additionalProperties: {}
                required:
                  - movementId
                  - movement
                  - entries
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/statement:
    get:
      tags:
        - Movements
      summary: Extrato da conta
      description: 'Lista paginada de movimentos. Filtros: `from`/`to`, `type`, `source`.'
      operationId: get_v1_statement
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: type
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: source
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  movements:
                    type: array
                    items:
                      type: object
                      properties:
                        movementId:
                          type: string
                        movement:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - CREDIT
                                - DEBIT
                                - TRANSFER
                                - ADJUSTMENT
                                - REVERSAL
                            status:
                              type: string
                            source:
                              nullable: true
                              type: string
                              enum:
                                - PIX_IN
                                - PIX_OUT
                                - DEFAULT
                            description:
                              nullable: true
                              type: string
                            externalRef:
                              nullable: true
                              type: string
                            feeAmount:
                              nullable: true
                              type: string
                              pattern: ^-?\d+$
                              format: int64-string
                              description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                            reversesMovementId:
                              nullable: true
                              type: string
                            metadata:
                              type: object
                              additionalProperties: {}
                            createdAt:
                              type: string
                              format: date-time
                              pattern: >-
                                ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          required:
                            - type
                            - status
                            - source
                            - description
                            - externalRef
                            - feeAmount
                            - reversesMovementId
                            - metadata
                            - createdAt
                          additionalProperties: {}
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              accountId:
                                type: string
                              amount:
                                type: string
                                pattern: ^-?\d+$
                                format: int64-string
                                description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                              balanceAfter:
                                type: string
                                pattern: ^-?\d+$
                                format: int64-string
                                description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                              kind:
                                type: string
                                enum:
                                  - PRIMARY
                                  - FEE
                              createdAt:
                                type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                              - id
                              - accountId
                              - amount
                              - balanceAfter
                              - kind
                              - createdAt
                            additionalProperties: {}
                      required:
                        - movementId
                        - movement
                        - entries
                      additionalProperties: {}
                  nextCursor:
                    nullable: true
                    type: string
                required:
                  - movements
                  - nextCursor
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/statement/summary:
    get:
      tags:
        - Movements
      summary: Resumo do extrato
      description: Totais agregados (créditos, débitos, contagens, saldo líquido) sobre o mesmo intervalo do extrato.
      operationId: get_v1_statement_summary
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: type
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: source
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCredits:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  totalDebits:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  countCredits:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  countDebits:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  netCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                required:
                  - totalCredits
                  - totalDebits
                  - countCredits
                  - countDebits
                  - netCents
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/balance:
    get:
      tags:
        - Movements
      summary: Saldo da conta
      description: Saldo atual em centavos (string).
      operationId: get_v1_balance
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                required:
                  - balance
                additionalProperties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/charges:
    post:
      tags:
        - Charges
      summary: Cria cobrança Pix
      description: |-
        Gera um QR Code Pix com TXID único. Três variantes via discriminator `variant`:
        - `simple`: QR estático, sem pagador definido.
        - `debtor`: QR com nome e documento do pagador.
        - `cobv`: QR com vencimento (`dueDate`) e multa (`fine`/`typeFine`).

        A resposta inclui `txid`, `brCode` e, quando a plataforma expuser artefato hospedado, `imageUrl`.
      operationId: post_v1_charges
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    variant:
                      type: string
                      enum:
                        - simple
                    amountCents:
                      anyOf:
                        - type: string
                        - type: number
                    tag:
                      type: string
                      minLength: 1
                      maxLength: 200
                    expirationDate:
                      type: string
                      format: date-time
                      pattern: >-
                        ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  required:
                    - variant
                    - amountCents
                - type: object
                  properties:
                    variant:
                      type: string
                      enum:
                        - debtor
                    amountCents:
                      anyOf:
                        - type: string
                        - type: number
                    tag:
                      type: string
                      minLength: 1
                      maxLength: 200
                    expirationDate:
                      type: string
                      format: date-time
                      pattern: >-
                        ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    debtorName:
                      type: string
                      minLength: 1
                      maxLength: 25
                    debtorDocument:
                      type: string
                      minLength: 11
                      maxLength: 20
                    debtorTypeDocument:
                      type: string
                      enum:
                        - CPF
                        - CNPJ
                  required:
                    - variant
                    - amountCents
                    - debtorName
                    - debtorDocument
                    - debtorTypeDocument
                - type: object
                  properties:
                    variant:
                      type: string
                      enum:
                        - cobv
                    amountCents:
                      anyOf:
                        - type: string
                        - type: number
                    tag:
                      type: string
                      minLength: 1
                      maxLength: 200
                    expirationDate:
                      type: string
                      format: date-time
                      pattern: >-
                        ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    debtorName:
                      type: string
                      minLength: 1
                      maxLength: 25
                    debtorDocument:
                      type: string
                      minLength: 11
                      maxLength: 20
                    debtorTypeDocument:
                      type: string
                      enum:
                        - CPF
                        - CNPJ
                    dueDate:
                      type: string
                      format: date-time
                      pattern: >-
                        ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    fineDate:
                      type: string
                      format: date-time
                      pattern: >-
                        ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    typeFine:
                      type: string
                      enum:
                        - NONE
                        - VALUE
                        - PERCENT
                    fine:
                      type: number
                      minimum: 0
                  required:
                    - variant
                    - amountCents
                    - debtorName
                    - debtorDocument
                    - debtorTypeDocument
                    - typeFine
                    - fine
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  pixAccountId:
                    type: string
                  variant:
                    type: string
                    enum:
                      - simple
                      - debtor
                      - cobv
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PAID
                      - EXPIRED
                      - FAILED
                      - REFUNDED
                      - CANCELLED
                  txid:
                    type: string
                  amountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  brCode:
                    nullable: true
                    type: string
                  imageUrl:
                    nullable: true
                    type: string
                  expiresAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  dueDate:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  fineDate:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  debtorName:
                    nullable: true
                    type: string
                  debtorDocument:
                    nullable: true
                    type: string
                  debtorTypeDocument:
                    nullable: true
                    type: string
                  typeFine:
                    nullable: true
                    type: string
                  fine:
                    nullable: true
                    type: number
                  tag:
                    nullable: true
                    type: string
                  endToEndId:
                    nullable: true
                    type: string
                  paidAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  payerName:
                    nullable: true
                    type: string
                  payerDocument:
                    nullable: true
                    type: string
                  payerInstitution:
                    nullable: true
                    type: string
                  refundEndToEndId:
                    nullable: true
                    type: string
                  refundedAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  refundedAmountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  failureReason:
                    nullable: true
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                required:
                  - id
                  - pixAccountId
                  - variant
                  - status
                  - txid
                  - amountCents
                  - brCode
                  - imageUrl
                  - expiresAt
                  - dueDate
                  - fineDate
                  - debtorName
                  - debtorDocument
                  - debtorTypeDocument
                  - typeFine
                  - fine
                  - tag
                  - endToEndId
                  - paidAt
                  - payerName
                  - payerDocument
                  - payerInstitution
                  - refundEndToEndId
                  - refundedAt
                  - refundedAmountCents
                  - failureReason
                  - createdAt
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - Charges
      summary: Lista cobranças
      description: 'Paginação por cursor. Filtros: `status`, `variant`, intervalo de criação (`from`/`to`). Mais recentes primeiro.'
      operationId: get_v1_charges
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: status
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: variant
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: pixAccountId
          in: query
          required: false
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pixAccountId:
                          type: string
                        variant:
                          type: string
                          enum:
                            - simple
                            - debtor
                            - cobv
                        status:
                          type: string
                          enum:
                            - PENDING
                            - PAID
                            - EXPIRED
                            - FAILED
                            - REFUNDED
                            - CANCELLED
                        txid:
                          type: string
                        amountCents:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        brCode:
                          nullable: true
                          type: string
                        imageUrl:
                          nullable: true
                          type: string
                        expiresAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        dueDate:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        fineDate:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        debtorName:
                          nullable: true
                          type: string
                        debtorDocument:
                          nullable: true
                          type: string
                        debtorTypeDocument:
                          nullable: true
                          type: string
                        typeFine:
                          nullable: true
                          type: string
                        fine:
                          nullable: true
                          type: number
                        tag:
                          nullable: true
                          type: string
                        endToEndId:
                          nullable: true
                          type: string
                        paidAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        payerName:
                          nullable: true
                          type: string
                        payerDocument:
                          nullable: true
                          type: string
                        payerInstitution:
                          nullable: true
                          type: string
                        refundEndToEndId:
                          nullable: true
                          type: string
                        refundedAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        refundedAmountCents:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        failureReason:
                          nullable: true
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      required:
                        - id
                        - pixAccountId
                        - variant
                        - status
                        - txid
                        - amountCents
                        - brCode
                        - imageUrl
                        - expiresAt
                        - dueDate
                        - fineDate
                        - debtorName
                        - debtorDocument
                        - debtorTypeDocument
                        - typeFine
                        - fine
                        - tag
                        - endToEndId
                        - paidAt
                        - payerName
                        - payerDocument
                        - payerInstitution
                        - refundEndToEndId
                        - refundedAt
                        - refundedAmountCents
                        - failureReason
                        - createdAt
                      additionalProperties: {}
                  nextCursor:
                    nullable: true
                    type: string
                required:
                  - charges
                  - nextCursor
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/charges/{id}:
    get:
      tags:
        - Charges
      summary: Consulta cobrança por id
      description: Retorna a cobrança incluindo dados do pagador (`payerName`, `payerDocument`) e `endToEndId` quando já paga.
      operationId: get_v1_charges_id
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  pixAccountId:
                    type: string
                  variant:
                    type: string
                    enum:
                      - simple
                      - debtor
                      - cobv
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PAID
                      - EXPIRED
                      - FAILED
                      - REFUNDED
                      - CANCELLED
                  txid:
                    type: string
                  amountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  brCode:
                    nullable: true
                    type: string
                  imageUrl:
                    nullable: true
                    type: string
                  expiresAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  dueDate:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  fineDate:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  debtorName:
                    nullable: true
                    type: string
                  debtorDocument:
                    nullable: true
                    type: string
                  debtorTypeDocument:
                    nullable: true
                    type: string
                  typeFine:
                    nullable: true
                    type: string
                  fine:
                    nullable: true
                    type: number
                  tag:
                    nullable: true
                    type: string
                  endToEndId:
                    nullable: true
                    type: string
                  paidAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  payerName:
                    nullable: true
                    type: string
                  payerDocument:
                    nullable: true
                    type: string
                  payerInstitution:
                    nullable: true
                    type: string
                  refundEndToEndId:
                    nullable: true
                    type: string
                  refundedAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  refundedAmountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  failureReason:
                    nullable: true
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                required:
                  - id
                  - pixAccountId
                  - variant
                  - status
                  - txid
                  - amountCents
                  - brCode
                  - imageUrl
                  - expiresAt
                  - dueDate
                  - fineDate
                  - debtorName
                  - debtorDocument
                  - debtorTypeDocument
                  - typeFine
                  - fine
                  - tag
                  - endToEndId
                  - paidAt
                  - payerName
                  - payerDocument
                  - payerInstitution
                  - refundEndToEndId
                  - refundedAt
                  - refundedAmountCents
                  - failureReason
                  - createdAt
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/charges/{id}/refresh:
    post:
      tags:
        - Charges
      summary: Re-consulta status da cobrança
      description: Força sincronização com o provider Pix (útil quando o webhook de pagamento foi perdido).
      operationId: post_v1_charges_id_refresh
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - updated
                      - unchanged
                      - core_unavailable
                required:
                  - kind
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/dict/lookup:
    post:
      tags:
        - Consulta de chave Pix
      summary: Consulta titular e dados da chave Pix
      description: >-
        Retorna nome do titular, banco e dados da conta vinculados à chave. O campo `id` da resposta pode ser enviado
        em `POST /v1/payouts` como `dictLookupId` para ligar esta consulta à transferência — na criação continuam obrigatórios
        `pixKey`, `pixKeyType` e `amountCents`.
      operationId: post_v1_dict_lookup
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pixKey:
                  type: string
                  minLength: 1
                  maxLength: 200
                pixKeyType:
                  type: string
                  enum:
                    - CPF
                    - CNPJ
                    - EMAIL
                    - PHONE
                    - EVP
              required:
                - pixKey
                - pixKeyType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  key:
                    type: string
                  keyType:
                    type: string
                    enum:
                      - CPF
                      - CNPJ
                      - EMAIL
                      - PHONE
                      - EVP
                  owner:
                    type: object
                    properties:
                      name:
                        nullable: true
                        type: string
                      document:
                        nullable: true
                        type: string
                    required:
                      - name
                      - document
                  bankName:
                    nullable: true
                    type: string
                  ispb:
                    nullable: true
                    type: string
                  branch:
                    nullable: true
                    type: string
                  account:
                    nullable: true
                    type: string
                  accountType:
                    nullable: true
                    type: string
                  cached:
                    type: boolean
                required:
                  - id
                  - key
                  - keyType
                  - owner
                  - bankName
                  - ispb
                  - branch
                  - account
                  - accountType
                  - cached
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/payouts:
    post:
      tags:
        - Transferências Pix
      summary: Envia Pix via chave
      description: |-
        Cria um pagamento Pix usando chave (**`pixKey` + `pixKeyType` obrigatórios**) e **`amountCents`**. Você pode
        incluir `dictLookupId` depois que consultou essa mesma combinação em **`POST /v1/dict/lookup`** — assim a transferência
        fica auditável junto à consulta do titular.

        Resultado:
        - `submitted` (200): aceito pelo Pix; status final virá via webhook ou polling.
        - `rejected` (422): rejeitado; valor não saiu do saldo.
        - `submitted_unknown` (502): resultado indeterminado (timeout); a plataforma resolve por polling.
      operationId: post_v1_payouts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pixKey:
                  type: string
                  minLength: 1
                  maxLength: 200
                pixKeyType:
                  type: string
                  enum:
                    - CPF
                    - CNPJ
                    - EMAIL
                    - PHONE
                    - EVP
                amountCents:
                  anyOf:
                    - type: string
                    - type: number
                description:
                  type: string
                  maxLength: 256
                dictLookupId:
                  type: string
                  minLength: 10
                  maxLength: 64
              required:
                - pixKey
                - pixKeyType
                - amountCents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - submitted
                      - rejected
                      - submitted_unknown
                  payoutId:
                    type: string
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PROCESSING
                      - SUBMITTED_UNKNOWN
                      - SUCCEEDED
                      - FAILED
                      - CANCELLED
                      - REFUNDED
                      - STUCK
                required:
                  - kind
                  - payoutId
                  - status
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - Transferências Pix
      summary: Lista pagamentos enviados
      description: Paginação por cursor. Filtro por `status`.
      operationId: get_v1_payouts
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PROCESSING
              - SUBMITTED_UNKNOWN
              - SUCCEEDED
              - FAILED
              - CANCELLED
              - REFUNDED
              - STUCK
        - name: pixAccountId
          in: query
          required: false
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pixAccountId:
                          type: string
                        movementId:
                          type: string
                        paymentMethod:
                          type: string
                          enum:
                            - PIX_KEY
                            - PIX_COPY_AND_PASTE
                        pixKey:
                          nullable: true
                          type: string
                        pixKeyType:
                          nullable: true
                          type: string
                        qrCode:
                          nullable: true
                          type: string
                        qrCodeDecodeId:
                          nullable: true
                          type: string
                        amountCents:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        description:
                          nullable: true
                          type: string
                        status:
                          type: string
                          enum:
                            - PENDING
                            - PROCESSING
                            - SUBMITTED_UNKNOWN
                            - SUCCEEDED
                            - FAILED
                            - CANCELLED
                            - REFUNDED
                            - STUCK
                        endToEndId:
                          nullable: true
                          type: string
                        providerTransactionId:
                          nullable: true
                          type: string
                        providerCodeTransaction:
                          nullable: true
                          type: string
                        refundEndToEndId:
                          nullable: true
                          type: string
                        refundTransactionId:
                          nullable: true
                          type: string
                        refundedAmountCents:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        submittedAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        paidAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        lastPolledAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        nextPollAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        pollAttempts:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        lastError:
                          nullable: true
                          type: string
                        providerResponse:
                          nullable: true
                          type: object
                          additionalProperties: {}
                        providerStatusCode:
                          nullable: true
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        resolvedAt:
                          nullable: true
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        createdAt:
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      required:
                        - id
                        - pixAccountId
                        - movementId
                        - paymentMethod
                        - pixKey
                        - pixKeyType
                        - qrCode
                        - qrCodeDecodeId
                        - amountCents
                        - description
                        - status
                        - endToEndId
                        - providerTransactionId
                        - providerCodeTransaction
                        - refundEndToEndId
                        - refundTransactionId
                        - refundedAmountCents
                        - submittedAt
                        - paidAt
                        - lastPolledAt
                        - nextPollAt
                        - pollAttempts
                        - lastError
                        - resolvedAt
                        - createdAt
                      additionalProperties: {}
                  nextCursor:
                    nullable: true
                    type: string
                required:
                  - payouts
                  - nextCursor
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/payouts/{id}:
    get:
      tags:
        - Transferências Pix
      summary: Consulta pagamento por id
      description: >-
        Retorna o pagamento com `status`, `endToEndId`, `lastError` (em caso de falha) e — quando rejeitado —
        `providerResponse` com a resposta crua do provider e `providerStatusCode`.
      operationId: get_v1_payouts_id
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  pixAccountId:
                    type: string
                  movementId:
                    type: string
                  paymentMethod:
                    type: string
                    enum:
                      - PIX_KEY
                      - PIX_COPY_AND_PASTE
                  pixKey:
                    nullable: true
                    type: string
                  pixKeyType:
                    nullable: true
                    type: string
                  qrCode:
                    nullable: true
                    type: string
                  qrCodeDecodeId:
                    nullable: true
                    type: string
                  amountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  description:
                    nullable: true
                    type: string
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PROCESSING
                      - SUBMITTED_UNKNOWN
                      - SUCCEEDED
                      - FAILED
                      - CANCELLED
                      - REFUNDED
                      - STUCK
                  endToEndId:
                    nullable: true
                    type: string
                  providerTransactionId:
                    nullable: true
                    type: string
                  providerCodeTransaction:
                    nullable: true
                    type: string
                  refundEndToEndId:
                    nullable: true
                    type: string
                  refundTransactionId:
                    nullable: true
                    type: string
                  refundedAmountCents:
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  submittedAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  paidAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  lastPolledAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  nextPollAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  pollAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  lastError:
                    nullable: true
                    type: string
                  providerResponse:
                    nullable: true
                    type: object
                    additionalProperties: {}
                  providerStatusCode:
                    nullable: true
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  resolvedAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  createdAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                required:
                  - id
                  - pixAccountId
                  - movementId
                  - paymentMethod
                  - pixKey
                  - pixKeyType
                  - qrCode
                  - qrCodeDecodeId
                  - amountCents
                  - description
                  - status
                  - endToEndId
                  - providerTransactionId
                  - providerCodeTransaction
                  - refundEndToEndId
                  - refundTransactionId
                  - refundedAmountCents
                  - submittedAt
                  - paidAt
                  - lastPolledAt
                  - nextPollAt
                  - pollAttempts
                  - lastError
                  - resolvedAt
                  - createdAt
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/payouts/{id}/movement:
    get:
      tags:
        - Transferências Pix
      summary: Movimento associado ao pagamento
      description: Atalho que retorna o lançamento de débito gerado por esse pagamento.
      operationId: get_v1_payouts_id_movement
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
        - $ref: '#/components/parameters/XPixAccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  movementId:
                    type: string
                  movement:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - CREDIT
                          - DEBIT
                          - TRANSFER
                          - ADJUSTMENT
                          - REVERSAL
                      status:
                        type: string
                      source:
                        nullable: true
                        type: string
                        enum:
                          - PIX_IN
                          - PIX_OUT
                          - DEFAULT
                      description:
                        nullable: true
                        type: string
                      externalRef:
                        nullable: true
                        type: string
                      feeAmount:
                        nullable: true
                        type: string
                        pattern: ^-?\d+$
                        format: int64-string
                        description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                      reversesMovementId:
                        nullable: true
                        type: string
                      metadata:
                        type: object
                        additionalProperties: {}
                      createdAt:
                        type: string
                        format: date-time
                        pattern: >-
                          ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                      - type
                      - status
                      - source
                      - description
                      - externalRef
                      - feeAmount
                      - reversesMovementId
                      - metadata
                      - createdAt
                    additionalProperties: {}
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        accountId:
                          type: string
                        amount:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        balanceAfter:
                          type: string
                          pattern: ^-?\d+$
                          format: int64-string
                          description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                        kind:
                          type: string
                          enum:
                            - PRIMARY
                            - FEE
                        createdAt:
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      required:
                        - id
                        - accountId
                        - amount
                        - balanceAfter
                        - kind
                        - createdAt
                      additionalProperties: {}
                required:
                  - movementId
                  - movement
                  - entries
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/qr-code/decode:
    post:
      tags:
        - Pagar QR Code
      summary: 1. Decodifica BR Code Pix
      description: >-
        Primeiro passo do fluxo **Pagar QR Code**: interpreta o BR Code (copia e cola) e devolve valor, beneficiário,
        instituição e um **`id`** — envie esse `id` em **`POST /v1/payouts/qr-code`** como **`qrCodeDecodeId`** para correlacionar com esta decodificação.
      operationId: post_v1_qr_code_decode
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pixCopyAndPaste:
                  type: string
                  minLength: 20
                  maxLength: 2000
                paymentDate:
                  type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
              required:
                - pixCopyAndPaste
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  pixCopyAndPaste:
                    type: string
                  pixKey:
                    nullable: true
                    type: string
                  pixKeyType:
                    nullable: true
                    type: string
                  amountCents:
                    nullable: true
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  isAmountEditable:
                    type: boolean
                  receiverName:
                    nullable: true
                    type: string
                  receiverDocument:
                    nullable: true
                    type: string
                  institutionName:
                    nullable: true
                    type: string
                  expiresAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                  cached:
                    type: boolean
                required:
                  - id
                  - pixCopyAndPaste
                  - pixKey
                  - pixKeyType
                  - amountCents
                  - isAmountEditable
                  - receiverName
                  - receiverDocument
                  - institutionName
                  - expiresAt
                  - cached
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/payouts/qr-code:
    post:
      tags:
        - Pagar QR Code
      summary: 2. Pagar QR Code
      description: >-
        Segundo passo do fluxo **Pagar QR Code**, após **`POST /v1/qr-code/decode`**. Envia o Pix usando o BR Code
        (copia e cola) e **`amountCents`**. Use **`qrCodeDecodeId`** com o `id` retornado na decodificação — mesma semântica de liquidação que **`POST /v1/payouts`** por chave (webhook `pix.payout.*`, polling em **`GET /v1/payouts/{id}`**).
      operationId: post_v1_payouts_qr_code
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPixAccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pixCopyAndPaste:
                  type: string
                  minLength: 20
                  maxLength: 2000
                amountCents:
                  anyOf:
                    - type: string
                    - type: number
                description:
                  type: string
                  maxLength: 256
                qrCodeDecodeId:
                  type: string
                  minLength: 10
                  maxLength: 64
              required:
                - pixCopyAndPaste
                - amountCents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - submitted
                      - rejected
                      - submitted_unknown
                  payoutId:
                    type: string
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PROCESSING
                      - SUBMITTED_UNKNOWN
                      - SUCCEEDED
                      - FAILED
                      - CANCELLED
                      - REFUNDED
                      - STUCK
                required:
                  - kind
                  - payoutId
                  - status
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/pix-accounts/{id}/fees:
    get:
      tags:
        - Account
      summary: Tarifas da conta
      description: >-
        Tarifas Pix in/out. Cada uma tem um componente fixo (`*FeeCents`) e um componente percentual em basis points
        (`*FeeBps`, 100 = 1%).
      operationId: get_v1_pix_accounts_id_fees
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 10
            maxLength: 64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pixInFeeCents:
                    nullable: true
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  pixInFeeBps:
                    nullable: true
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  pixOutFeeCents:
                    nullable: true
                    type: string
                    pattern: ^-?\d+$
                    format: int64-string
                    description: BigInt serializado como string decimal (Fastify default + convenção da plataforma).
                  pixOutFeeBps:
                    nullable: true
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                required:
                  - pixInFeeCents
                  - pixInFeeBps
                  - pixOutFeeCents
                  - pixOutFeeBps
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/DomainError'
        '429':
[...]
